<!DOCTYPE html>
  <html ng-app>
    <head>
      <title>ULearn</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 <meta name="format-detection" content="telephone=no">
 <title>ULearn | </title>
<meta name="description" content="Na Kanui você encontra tênis, chuteiras, camisas de time, suplementos, roupas esportivas femininas e masculinas. Entre e confira. Aproveite!">    <meta name="robots" content="index,follow">    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href=".ico" type="image/x-icon"> 
<link rel="shortcut icon" href=".ico" type="image/x-icon">
 <meta name="google-play-app" content="app-id=br.com.ulearn">
 <!-- head desk -->
<link rel="manifest" href="/kanui_push_manifest.json">
<meta property="fb:admins" content="141304895927080">
<link rel="alternate" media="only screen and (max-device-width: 767px)" href="//m.ulearn.com.br/"> 
<link rel="alternate" media="only screen and (max-device-width: 960px) and (max-width : 960px) " href="//t.ulearn.com.br/">
</head>
<body>
HUEEEEEEEEEEEEEEEEEEEEEE
</body>
</html>
